{% extends ('::base.html.twig') %}

{% block steelsheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() ~ '- HomePage' }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <p>This is my homepage</p>
{% endblock %}

